.main-card-wrapper {
    margin-left: 0;
    margin-top: 44px;
    margin-bottom: 126px;
    max-width: 798px;
    min-height: 825px;
    background: #fdfdff;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
    border-radius: 13px;
}
.main-card {
    padding: 29px;
    padding-bottom: 120px;
}
.main-content {
    display: flex;
    margin-bottom: 25px;
}
.left-content {
    display: flex;
    flex-direction: column;
}
.right-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 34px;
}
.main-description {
    margin-right: 30px;
}
